<!--==============================header=================================-->
<header>
    <div class="zerogrid">
        <h1><a routerLink="" routerLinkActive="active"><img src="./assets/images/logo.jpg" alt="logo"></a></h1>
        <nav>
            <ul class="menu">
                <li><a routerLink="/">Restaurant</a></li>
                <li><a routerLink="/cuisine">Cuisine</a></li>
                <li><a routerLink="/wine_list">Wine list</a></li>
                <li><a routerLink="/cookbook">Cookbook</a></li>
                <li><a routerLink="/gallery">Gallery</a></li>
                <li><a routerLink="/contacts">Contacts</a></li>
            </ul>
            <div class="clear"></div>
         </nav>
    </div>
</header>
