<app-header></app-header>
<section id="content">
		<div class="zerogrid">
        <div class="col-1-5">
            <app-dash></app-dash>
            <app-dashproduct></app-dashproduct>
          </div>
       <div class="block-2 pad-2">
        <div class="block-4 col-3">
        	<div class="h2">
       			<h2 class="h2-line-2">About our cuisine:</h2>
            </div>
            <p class="center"><span class="clr-1 it-bold">Vivamus hendrerit mauris ut dui gravida ut viverra lectus incidunt. Cras mattis tempor eros nec tristique.Sed sed felis arcu, vel vehicula augue.<br> Maecenas faucibus sagittis cursus. </span><br>
Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet dictum velit velit eu magna. Nunc viverra nisi sed orci tincidunt at hendrerit orci luctus. Suspendisse tincidunt, ipsum at semper facilisis, turpis nisi dictum diam, nec tincidunt neque velit in nunc. Fusce sed leo sapien. Vestibulum non nunc ac tellus sollicitudin iaculis. </p>
            <div class="box-4 border-3">
            	<div class="col-1-4">
					<div class="wrap-col">
	                	<p>Seafood:</p>
	                	<div class="img-border"><img src="./assets/images/page2-img1.jpg" alt=""></div>
	                	<p class="border-2">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet velit.</p>
	                	<a href="#" class="link">read more</a>
					</div>
                </div>
                <div class="col-1-4">
					<div class="wrap-col">
	                	<p>Brunch:</p>
	                	<div class="img-border"><img src="./assets/images/page2-img2.jpg" alt=""></div>
	                	<p class="border-2">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet velit.</p>
	                	<a href="#" class="link">read more</a>
					</div>
                </div>
                <div class="col-1-4">
					<div class="wrap-col">
	                	<p>Lunch combos:</p>
	                	<div class="img-border"><img src="./assets/images/page2-img3.jpg" alt=""></div>
	                	<p class="border-2">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet velit.</p>
	                	<a href="#" class="link">read more</a>
					</div>
                </div>
                <div class="col-1-4">
					<div class="wrap-col">
	                	<p>Steaks &amp; chiken:</p>
	                	<div class="img-border"><img src="./assets/images/page2-img4.jpg" alt=""></div>
	                	<p class="border-2">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet velit.</p>
	                	<a href="#" class="link">read more</a>
					</div>
                </div>
            </div>
            <div class="box-4">
            	<div class="col-1-4">
					<div class="wrap-col">
	                	<h4>Desserts:</h4>
	                	<div class="img-border"><img src="./assets/images/page2-img5.jpg" alt=""></div>
	                	<p class="border-2">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet velit.</p>
	                	<a href="#" class="link">read more</a>
					</div>
                </div>
                <div class="col-1-4">
					<div class="wrap-col">
	                	<h4>Kids menu:</h4>
	                	<div class="img-border"><img src="./assets/images/page2-img6.jpg" alt=""></div>
	                	<p class="border-2">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet velit.</p>
	                	<a href="#" class="link">read more</a>
					</div>
                </div>
                <div class="col-1-4">
					<div class="wrap-col">
	                	<h4>Bakery:</h4>
	                	<div class="img-border"><img src="./assets/images/page2-img7.jpg" alt=""></div>
	                	<p class="border-2">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet velit.</p>
	                	<a href="#" class="link">read more</a>
					</div>
                </div>
                <div class="col-1-4">
					<div class="wrap-col">
	                	<h4>Soups:</h4>
	                	<div class="img-border"><img src="./assets/images/page2-img8.jpg" alt=""></div>
	                	<p class="border-2">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet velit.</p>
	                	<a href="#" class="link">read more</a>
					</div>
                </div>
            </div>
        </div>
       </div>
	  </div>
    </section>
