<app-header></app-header>
<!--==============================content================================-->
<section id="content">
		<div class="zerogrid">
       <div class="block-1">
	   	<div class="col-1-4">
	       	<div class="pad border-right">
	        	<div class="block-1-title">
	            	<span>01.</span>
	                <div class="text-1">Best<strong>cuisine</strong></div>
	                <strong class="clear"></strong>
	            </div>
	            <p class="border-1">This website template has several pages:  Restaurant, Cuisine, Wine List, CookBook, Gallery, Contacts (note that contact us form - doesn't work).</p>
	            <a href="#" class="link-1">read more</a>
	        </div>
		</div>
		<div class="col-1-4">
	        <div class="pad border-right">
	        	<div class="block-1-title">
	            	<span>02.</span>
	                <div class="text-2">Good<strong>rest</strong></div>
	                <strong class="clear"></strong>
	            </div>
	            <p class="border-1">Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue. Maecenas faucibus sagittis cursus. Fusce tincidunt, tellus eget tristique cursus.</p>
	            <a href="#" class="link-1">read more</a>
	        </div>
		</div>
		<div class="col-1-4">
	        <div class="pad border-right">
	        	<div class="block-1-title">
	            	<span>03.</span>
	                <div class="text-3">Great<strong>service</strong></div>
	                <strong class="clear"></strong>
	            </div>
	            <p class="border-1">Maecenas faucibus sagittis cursus. Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet dictum velit velit eu magna.
	Nunc viverra nisi sed orci.</p>
	            <a href="#" class="link-1">read more</a>
	        </div>
		</div>
		<div class="col-1-4">
	        <div class="pad">
	        	<div class="block-1-title">
	            	<span>04.</span>
	                <div class="text-4">Best<strong>cooks</strong></div>
	                <strong class="clear"></strong>
	            </div>
	            <p class="border-1">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet dictum velit velit eu magna. Nunc viverra nisi sed orci tincidunt at hendrerit orci.</p>
	            <a href="#" class="link-1">read more</a>
	        </div>
		</div>
       </div>
       <div class="block-2 pad-2">
        <div class="col-2-3">
			<div class="wrap-col">
        	<h3 class="h3-line">Contact info</h3>
            <div class="map img-border">
              <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            </div>
            <div class="wrap">
            	<dl class="adr">
                    <dt class="clr-3 it-bold">Valencia</dt>
                    <dd>8901 Marmora Road, <br>Glasgow, D04 89GR</dd>
                    <dd><span>Telephone:</span><strong class="clr-2">+1 959 603 6035</strong></dd>
                    <dd><span>Fax:</span><strong class="clr-2">+1 504 889 9898</strong></dd>
                    <dd><span>Email:</span><a href="#" class="link">mail@valencia.com</a></dd>
                </dl>
                <dl class="adr last">
                    <dt class="clr-3 it-bold">Valencia</dt>
                    <dd>9863 Mill Road, <br>Cambridge, MG09 99HT</dd>
                    <dd><span>Telephone:</span><strong class="clr-2">+1 959 603 6035</strong></dd>
                    <dd><span>Fax:</span><strong class="clr-2">+1 504 889 9898</strong></dd>
                    <dd><span>Email:</span><a href="#" class="link">mail@valencia.com</a></dd>
                </dl>
            </div>
			</div>
        </div>
        <div class="col-1-3">
			<div class="wrap-col">
        	<h3 class="h3-line">Contact form:</h3>
            <form id="form" method="post" >
              <fieldset>
                <label><strong>Full name:</strong><input type="text" value=""><strong class="clear"></strong></label>
                <label><strong>Email:</strong><input type="text" value=""><strong class="clear"></strong></label>
                <label><strong>Message:</strong><textarea></textarea><strong class="clear"></strong></label>
                <strong class="clear"></strong>
                <div class="btns"><a href="#" class="link">clear</a><a href="#" class="link" onClick="document.getElementById('form').submit()">send</a></div>
              </fieldset>
            </form>
			</div>
        </div>
       </div>
	   </div>
    </section>
