<link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css">
<!-- Bootstrap -->
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<link href="assets/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="assets/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<body>
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="container">
        <h2 class="page-header">Register</h2>
        <form>
          <div class="form-group">
            Name:
            <br>
            <input type="text" name="name" class="form-control" [(ngModel)]="name">
          </div>
          <div class="form-group">
            Username:
            <br>
            <input type="text" name="username" class="form-control" [(ngModel)]="username" required>
          </div>
          <div class="form-group">
            Email:
            <br>
            <input type="email" name="email" class="form-control" [(ngModel)]="email" required>
          </div>
          <div class="form-group">
            Password:
            <br>
            <input type="password" name="password" class="form-control" [(ngModel)]="password">
          </div>
          <button (click)="onRegisterSubmit()" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
