<app-header></app-header>
<!--==============================content================================-->
<section id="content">
		<div class="zerogrid">
       <div class="block-1">
	   	<div class="col-1-4">
	       	<div class="pad border-right">
	        	<div class="block-1-title">
	            	<span>01.</span>
	                <div class="text-1">Best<strong>cuisine</strong></div>
	                <strong class="clear"></strong>
	            </div>
	            <p class="border-1">This website template has several pages:  Restaurant, Cuisine, Wine List, CookBook, Gallery, Contacts (note that contact us form - doesn't work).</p>
	            <a href="#" class="link-1">read more</a>
	        </div>
		</div>
		<div class="col-1-4">
	        <div class="pad border-right">
	        	<div class="block-1-title">
	            	<span>02.</span>
	                <div class="text-2">Good<strong>rest</strong></div>
	                <strong class="clear"></strong>
	            </div>
	            <p class="border-1">Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue. Maecenas faucibus sagittis cursus. Fusce tincidunt, tellus eget tristique cursus.</p>
	            <a href="#" class="link-1">read more</a>
	        </div>
		</div>
		<div class="col-1-4">
	        <div class="pad border-right">
	        	<div class="block-1-title">
	            	<span>03.</span>
	                <div class="text-3">Great<strong>service</strong></div>
	                <strong class="clear"></strong>
	            </div>
	            <p class="border-1">Maecenas faucibus sagittis cursus. Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet dictum velit velit eu magna.
	Nunc viverra nisi sed orci.</p>
	            <a href="#" class="link-1">read more</a>
	        </div>
		</div>
		<div class="col-1-4">
	        <div class="pad">
	        	<div class="block-1-title">
	            	<span>04.</span>
	                <div class="text-4">Best<strong>cooks</strong></div>
	                <strong class="clear"></strong>
	            </div>
	            <p class="border-1">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. sem, sit amet dictum velit velit eu magna. Nunc viverra nisi sed orci tincidunt at hendrerit orci.</p>
	            <a href="#" class="link-1">read more</a>
	        </div>
		</div>
       </div>
       <div class="block-2 pad-2">
        <div class="block-4 col-3">
        	<div class="h2">
       			<h2 class="h2-line-2">Our gallery:</h2>
            </div>
            <ul class="gallery">
                <li><a class="plus" href="./assets/images/gallery-1-big.jpg"><img src="./assets/images/gallery-1.jpg" alt=""></a></li>
				<li><a class="plus" href="./assets/images/gallery-2-big.jpg"><img src="./assets/images/gallery-2.jpg" alt=""></a></li>
				<li><a class="plus" href="./assets/images/gallery-3-big.jpg"><img src="./assets/images/gallery-3.jpg" alt=""></a></li>
                <li><a class="plus" href="./assets/images/gallery-4-big.jpg"><img src="./assets/images/gallery-4.jpg" alt=""></a></li>
				<li><a class="plus" href="./assets/images/gallery-5-big.jpg"><img src="./assets/images/gallery-5.jpg" alt=""></a></li>
				<li><a class="plus" href="./assets/images/gallery-6-big.jpg"><img src="./assets/images/gallery-6.jpg" alt=""></a></li>
                <li><a class="plus" href="./assets/images/gallery-7-big.jpg"><img src="./assets/images/gallery-7.jpg" alt=""></a></li>
				<li><a class="plus" href="./assets/images/gallery-8-big.jpg"><img src="./assets/images/gallery-8.jpg" alt=""></a></li>
				<li><a class="plus" href="./assets/images/gallery-9-big.jpg"><img src="./assets/images/gallery-9.jpg" alt=""></a></li>
                <li><a class="plus" href="./assets/images/gallery-10-big.jpg"><img src="./assets/images/gallery-10.jpg" alt=""></a></li>
				<li><a class="plus" href="./assets/images/gallery-11-big.jpg"><img src="./assets/images/gallery-11.jpg" alt=""></a></li>
				<li><a class="plus" href="./assets/images/gallery-12-big.jpg"><img src="./assets/images/gallery-12.jpg" alt=""></a></li>
            </ul>
        </div>
       </div>
	  </div>
    </section>

