  <!-- Bootstrap -->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <link href="assets/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
  <link href="assets/styles.css" rel="stylesheet" media="screen">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="assets/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <div class="span3" id="sidebar">
    <nav>
      <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
          <li>
              <a routerLink="/admin"><i class="icon-chevron-right"></i> Summary</a>
          </li>
          <li>
              <a routerLink="/admin/category"><i class="icon-chevron-right"></i> Category</a>
          </li>
          <li>
              <a routerLink="/admin/products"><i class="icon-chevron-right"></i> Products</a>
          </li>
          <li>
              <a routerLink="/admin/wine_list"><i class="icon-chevron-right"></i> Wine List</a>
          </li>
          <li>
              <a routerLink="/admin/cookbook"><i class="icon-chevron-right"></i> Cookbook</a>
          </li>
          <li>
              <a routerLink="/admin/gallery"><i class="icon-chevron-right"></i> Gallery</a>
          </li>
          <li>
              <a routerLink="/admin/contacts"><i class="icon-chevron-right"></i> Contacts</a>
          </li>
      </ul>
  </nav>
</div>
