<app-header></app-header>
<!--==============================content================================-->
<section id="content" class="centercolumn">
      <div class="zerogrid">
          <div class="col-1-5">
              <app-dash></app-dash>
              <app-dashproduct></app-dashproduct>
            </div>
            <div class="block-2 pad-1">
                <div class="col-2-3">
             <div class="wrap-col">
                   <h2 class="h2-line">We are glad to invite you!<strong>The place where you feel bliss</strong></h2>
                     <div class="box-1">
                 <div class="col-1-2"><div class="wrap-col">
                         <div class="img-border"><img src="./assets/images/page1-img1.jpg" alt=""></div>
                 </div></div>
                 <div class="col-1-2"><div class="wrap-col">
                           <div class="extra-wrap">
                             <p class="it-bold p2">From raw bar to Rockefeller, pan roast to po'boy, we serve the oyster in all of its magnanimous ways—accompanied by bright coastal wines and local craft beers. </p>
                               <a routerLink="/cuisine" class="link-1">read more</a>
                           </div>

                 </div></div>
                </div>
             </div>
               </div>
               <div class="col-1-3">
             <div class="wrap-col">
                   <h3 class="h3-line top-1">Testimonials:</h3>
                     <div class="box-2 top-2">
                         <div class="comment border-1">
                             <p><img src="./assets/images/comment-top.png" alt="" ><span class="clr-1">Vivamus hendrerit mauris ut dui</span> gravida ut viverra lectus incidunt. Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula.<img src="./assets/images/comment-bottom.png" alt="" class="second"></p>
                             <span class="clr-1"><strong>Tina Smith</strong> <i>(top manager)</i></span>
                         </div>
                         <div class="comment border-1 top-3">
                             <p><img src="./assets/images/comment-top.png" alt="" ><span class="clr-1">Vivamus hendrerit mauris ut dui</span> gravida ut viverra lectus incidunt. Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula.<img src="./assets/images/comment-bottom.png" alt="" class="second"></p>
                             <span class="clr-1"><strong>John Green</strong> <i>(director)</i></span>
                         </div>
                         <a href="#" class="link-1">read more</a>
                      </div>
              </div>
               </div>
               <div class="clear"></div>
               <div class="block-3">
                 <div class="h3">
                    <h3 class="h3-line-2">Most delicious:</h3>
                   </div>
                   <div class="box-3">
               <div class="col-1-4">
                       <div class="pad">
                           <div class="img-border"><img src="./assets/images/page1-img2.jpg" alt=""></div>
                           <p class="border-2"><span class="it-bold clr-1">Vivamus hendrerit</span><br>mauris ut dui gravida ut rra lectus incidunt. Cras mattis tempor eros nec tristique. </p>
                           <a href="#" class="link">read more</a>
                         </div>
               </div>
               <div class="col-1-4">
                         <div class="pad">
                           <div class="img-border"><img src="./assets/images/page1-img3.jpg" alt=""></div>
                           <p class="border-2"><span class="it-bold clr-1">Cras mattis tempor eros nec </span><br>tristique Sed sed felis arcu, vel vehicula augue maecenas faucibus sagittis.</p>
                           <a href="#" class="link">read more</a>
                         </div>
               </div>
               <div class="col-1-4">
                         <div class="pad">
                           <div class="img-border"><img src="./assets/images/page1-img4.jpg" alt=""></div>
                           <p class="border-2"><span class="it-bold clr-1">Sed sed felis arcu, vel </span><br>vehicula augue  maecenas faucibus sagittis cursus. Fusce tincidunt tellus eget.</p>
                           <a href="#" class="link">read more</a>
                         </div>
               </div>
               <div class="col-1-4">
                         <div class="pad">
                           <div class="img-border"><img src="./assets/images/page1-img5.jpg" alt=""></div>
                           <p class="border-2"><span class="it-bold clr-1">Maecenas faucibus sagittis</span><br>cursus fusce tincidunt, tellus eget tristique cursus orci mi iaculis sem sit amet.</p>
                           <a href="#" class="link">read more</a>
                         </div>
               </div>
                   </div>
               </div>
              </div>
           </div>
           </section>

 <!--==============================footer=================================-->
